{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'vault/js/popper.min1.js' %}"></script>
    <script src="{% static 'vault/js/bootstrap.min1.js' %}"></script>
    <script src="{% static 'vault/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vault/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vault/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vault/css/all.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{% static 'vault/images/fevicon.jpg' %}" type="image/gif" />
    <style>
        .hidden {
        display: none;
      }
    </style>
    {% if title %}
        <title>Yonna Vault - {{ title }}</title>
    {% else %}
        <title>Yonna Vault</title>
    {% endif %}
</head>
<body style="background-color: rgb(150, 156, 150);">
{% if user.is_authenticated %}
    <div class="row" id="bar-container">
        <div class="col-md-2 p-2">
            <p id="top-bar"><i class="mr-2">
                <img src="{% static 'vault/images/yonna1.png' %}" class="rounded-circle" width="50px">
              </i>YONNA VAULT</p>
        </div>
        <div class="col-md-8 p-2">
            <!-- <p id="top-bar">YONNA VAULT</p> -->
            <p class="username fw-bold">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="current-date" id="current-date">Date and time loading...</p>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6 ml-auto mt-2">
                    <a class="mr-2 text-info" href="{% url 'profile' %}">
                        <i class="fas fa-user-circle fa-2x" data-toggle="tooltip" data-placement="top" title="{{user.first_name}} {{user.last_name}}"></i>
                    </a>
                    <a class="mr-3 text-danger" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Sign Out"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row col-auto min-vh-100" id="side-bar">
        {% if user.is_staff %}
            <div class="col-md-2" id="side-bar-container">
                <div class="navbar text-white">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="category" onclick="toggleItems('category1')">
                                <div class="row">
                                    <div class="col-md-8" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                                        <i class="fa fa-lock mr-3"></i>
                                        Admin
                                    </div>
                                    <div class="col-md-4">
                                        <span class="material-icons-outlined">add</span>
                                    </div>
                                </div>
                                
                            </div>
                            <ul id="category1Items" class="hidden">
                                <li><a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'accounts' %}">Accounts</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'admin:index' %}">Administration</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'currency_transactions' %}">Currencies</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'borrows' %}">Loans</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'ledger' %}">Ledger</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'withdrawals' %}">Withdrawals</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="category" onclick="toggleItems('category2')">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fas fa-users mr-2"></i>
                                        Agents
                                    </div>
                                    <div class="col-md-4">
                                        <span class="material-icons-outlined">add</span>
                                    </div>
                                </div>
                                
                            </div>
                            <ul id="category2Items" class="hidden">
                                <li><a class="nav-item nav-link" href="{% url 'all_agents' %}">All</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'zones' %}">Zones</a></li>
                                <li><a class="nav-item nav-link" href="{% url 'branches' %}">Branches</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="category" onclick="toggleItems('category3')">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fab fa-bitcoin mr-2"></i>
                                        Deposits
                                    </div>
                                    <div class="col-md-4">
                                        <span class="material-icons-outlined">add</span>
                                    </div>
                                </div>
                                
                            </div>
                            <ul id="category3Items" class="hidden">
                                <li><a class="nav-link" href="{% url 'bank_deposits' %}">Banks</a></li>
                                <li><a class="nav-link" href="{% url 'cashier_deposits' %}">Cashiers</a></li>
                                <li><a class="nav-link" href="{% url 'supervisor_deposits' %}">Supervisors</a></li>
                                <li><a class="nav-link" href="{% url 'refunds' %}">Refunds</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="category" onclick="toggleItems('category4')">
                                <div class="row">
                                    <div class="col-md-8">
                                        <i class="fas fa-folder-open mr-2"></i>
                                        Reports
                                    </div>
                                    <div class="col-md-4">
                                        <span class="material-icons-outlined">add</span>
                                    </div>
                                </div>
                                
                            </div>
                            <ul id="category4Items" class="hidden">
                                <li><a class="nav-link" href="{% url 'daily_supervisor_reports' %}">Supervisors</a></li>
                                <li><a class="nav-link" href="{% url 'daily_cashier_reports' %}">Cashiers</a></li>
                            </ul>
                        </div>
                        {% if user.profile.is_supervisor %}
                            <div class="col-md-12">
                                <div class="category" onclick="toggleItems('category5')">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <i class="fas fa-chart-pie mr-2"></i>
                                            Operation
                                        </div>
                                        <div class="col-md-4">
                                            <span class="material-icons-outlined">add</span>
                                        </div>
                                    </div>
                                </div>
                                <ul id="category5Items" class="hidden">
                                    <li><a class="nav-link" href="{% url 'my_branches' %}">Branches</a></li>
                                    <li><a class="nav-link" href="{% url 'my_deposits' %}">Deposits</a></li>
                                    <li><a class="nav-link" href="{% url 'reports' %}">Reports</a></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                {% if user.profile.balance > 50000 %}
                                    <a class="nav-item nav-link">
                                        <i class="fas fa-dollar-sign"></i>
                                        <span class="text-success fw-bold">Balance: {{ user.profile.balance|floatformat:2|intcomma }}</span>
                                    </a>
                                {% else %}
                                    <a class="nav-item nav-link">
                                        <i class="fas fa-dollar-sign"></i>
                                        <span class="text-danger fw-bold">Balance: {{ user.profile.balance|floatformat:2|intcomma }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-md-2" id="side-bar-container">
                    <div class="navbar text-white">
                        <div class="row">
                            <ul class="list-unstyled">
                                <li><a class="nav-item nav-link" href="{% url 'my_branches' %}">
                                    <i class="fa fa-users"></i>
                                    Branches
                                </a></li>
                                <li><a class="nav-item nav-link" href="{% url 'daily_cashier_reports' %}">
                                    <i class="fa fa-calendar-check-o"></i>
                                    Cashier Reports
                                </a></li>
                                <li><a class="nav-item nav-link" href="{% url 'dashboard' %}">
                                    <i class="fa fa-dashboard"></i>
                                    Dashboard
                                </a></li>
                                <li><a class="nav-item nav-link" href="{% url 'my_deposits' %}">
                                    <i class="fas fa-donate"></i>
                                    Deposits
                                </a></li>
                                <li><a class="nav-item nav-link" href="{% url 'my_borrows' %}">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    Loans
                                </a></li>
                                <li><a class="nav-item nav-link" href="{% url 'reports' %}">
                                    <i class="fa fa-clipboard"></i>
                                    My Reports
                                </a></li>
                                <li><a class="nav-item nav-link" href="{% url 'my_withdrawals' %}">
                                    <i class="fab fa-bitcoin"></i>
                                    Withdrawals
                                </a></li>
                                {% if user.profile.balance > 50000 %}
                                    <a class="nav-item nav-link">
                                        <i class="fas fa-dollar-sign"></i>
                                        <span class="text-success fw-bold">Balance: {{ user.profile.balance|floatformat:2|intcomma }}</span>
                                    </a>
                                {% else %}
                                    <a class="nav-item nav-link">
                                        <i class="fas fa-dollar-sign"></i>
                                        <span class="text-danger fw-bold">Balance: {{ user.profile.balance|floatformat:2|intcomma }}</span>
                                    </a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
        {% endif %}
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                  {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == "error" %}
                          <div class="alert alert-danger">
                          {{ message }}
                          </div>
                      {% else %}
                          <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                          </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% block content %}{% endblock %}
                </div>
              </div>
        </div>
    </div>

    
{% endif %}

  <script src="{% static 'vault/js/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'vault/js/popper.min.js' %}"></script>
  <script src="{% static 'vault/js/bootstrap.min.js' %}"></script>
</body>
</html>
