{% extends "vault/layout.html" %} 
{% load humanize %}
{% block content %}
<h1>{{ caption }}</h1>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Zone</th>
      <th scope="col">Branch</th>
      <th scope="col">Cashier</th>
      <th scope="col">Opening Cash</th>
      <th scope="col">Additional Cash</th>
      <th scope="col">Closing Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for branch in branches %}
    <tr>
        <td>{{ branch.teller.profile.zone }}</td>
        <td>{{ branch.name }}</t>
        {% if branch.teller %}
            <td>{{ branch.teller.first_name}} {{ branch.teller.last_name }}</td>
        {% if branch.teller.profile.cash %}
          <td style="color: green">{{ branch.teller.profile.cash|floatformat:2|intcomma }}</td>
        {% else %}
          <td style="color: red">{{ branch.teller.profile.cash|floatformat:2|intcomma }}</td>
        {% endif %}
        {% if branch.teller.profile.add_cash %}
          <td style="color: green">{{ branch.teller.profile.add_cash|floatformat:2|intcomma }}</td>
        {% else %}
          <td style="color: red">{{ branch.teller.profile.add_cash|floatformat:2|intcomma }}</td>
        {% endif %}
      {% else %}
        <td style="color: red">N/A</td>
        <td style="color: red">N/A</td>
        <td style="color: red">N/A</td>
        {% endif %}
      {% if branch.teller %}
        <td style="color: red">{{ branch.teller.profile.closing_balance|floatformat:2|intcomma }}</td>
      {% else %}
        <td style="color: red">N/A</td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr>
      <td scope="col" colspan="3" style="font-weight: bold; color: red;">TOTALS</td>
      <td scope="col" style="font-weight: bold;">{{ total_op|floatformat:2|intcomma }}</td>
      <td scope="col" style="font-weight: bold;">{{ total_ad|floatformat:2|intcomma }}</td>
      <td scope="col" style="font-weight: bold;">{{ total_cs|floatformat:2|intcomma }}</td>
    </tr>
</tbody>
</table>
{% endblock content %}
