{% extends "vault/layout.html" %} 
{% load humanize %}
{% block content %}
<a class="btn btn-primary" href="{% url 'my_deposits' %}">Deposits</a>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Zone</th>
      <th scope="col">Branch</th>
      <th scope="col">Cashier</th>
      <th scope="col">Opening Cash</th>
      <th scope="col">Additional Cash</th>
      <th scope="col">Closing Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for branch in branches %}
    <tr>
        <td>{{ branch.teller.profile.zone }}</td>
        <td>{{ branch.name }}</t>
        {% if branch.teller %}
            <td>{{ branch.teller.first_name}} {{ branch.teller.last_name }}</td>
        {% if branch.teller.profile.cash %}
          <td style="color: green">{{ branch.teller.profile.cash|floatformat:2|intcomma }}</td>
        {% else %}
          <td style="color: red">{{ branch.teller.profile.cash|floatformat:2|intcomma }}</td>
        {% endif %}
        {% if branch.teller.profile.add_cash %}
          <td style="color: green">{{ branch.teller.profile.add_cash|floatformat:2|intcomma }}</td>
        {% else %}
          <td style="color: red">{{ branch.teller.profile.add_cash|floatformat:2|intcomma }}</td>
        {% endif %}
      {% else %}
        <td style="color: red">N/A</td>
        <td style="color: red">N/A</td>
        <td style="color: red">N/A</td>
        {% endif %}
      {% if branch.teller %}
        <td style="color: red">{{ branch.teller.profile.closing_balance|floatformat:2|intcomma }}</td>
      {% else %}
        <td style="color: red">N/A</td>
      {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% if branches.has_previous %}
<a class="btn btn-outline-info mb-4" href="{% url 'branches' %}?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="{% url 'branches' %}?page={{ branches.previous_page_number }}">Previous</a>
{% endif %}

{% for num in branches.paginator.page_range %}
{% if branches.number == num %}
  <a class="btn btn-info mb-4" href="{% url 'branches' %}?page={{ num }}">{{ num }}</a>
{% elif num > branches.number|add:'-3' and num < branches.number|add:'3' %}
  <a class="btn btn-outline-info mb-4" href="{% url 'branches' %}?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if branches.has_next %}
<a class="btn btn-outline-info mb-4" href="{% url 'branches' %}?page={{ branches.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="{% url 'branches' %}?page={{ branches.paginator.num_pages }}">Last</a>
{% endif %}
{% endblock content %}
