{% extends "vault/admin/admin_layout.html" %}
{% load humanize %}
{% block content %}
<h1 class="text-white text-center fw-bold">My Branches</h1>
<table class="table table-striped table-bordered table-dark table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Branch</th>
      <th scope="col">Opening Cash</th>
      <th scope="col">Additional Cash</th>
      <th scope="col">Closing Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for branch in branches %}
    <tr>
        <td>{{ branch.name }}</t>
        <td>{{ branch.teller.profile.opening_cash|floatformat:2|intcomma }}</td>
        <td>{{ branch.teller.profile.additional_cash|floatformat:2|intcomma }}</td>
        <td>{{ branch.teller.profile.closing_balance|floatformat:2|intcomma }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% if branches.has_previous %}
<a class="btn btn-outline-info mb-4" href="{% url 'my_branches' %}?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="{% url 'my_branches' %}?page={{ branches.previous_page_number }}">Previous</a>
{% endif %}

{% for num in branches.paginator.page_range %}
{% if branches.number == num %}
  <a class="btn btn-info mb-4" href="{% url 'my_branches' %}?page={{ num }}">{{ num }}</a>
{% elif num > branches.number|add:'-3' and num < branches.number|add:'3' %}
  <a class="btn btn-outline-info mb-4" href="{% url 'my_branches' %}?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if branches.has_next %}
<a class="btn btn-outline-info mb-4" href="{% url 'my_branches' %}?page={{ branches.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="{% url 'my_branches' %}?page={{ branches.paginator.num_pages }}">Last</a>
{% endif %}
{% endblock content %}