{% extends "vault/layout.html" %}
{% load humanize %}
{% block content %}
    <h1>My Reports</h1>
    <a class="btn btn-primary" href="{% url 'cashier_reporting' %}">New</a>
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Opening Cash</th>
          <th scope="col">Additional Cash</th>
          <th scope="col">Closing Balance</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
            <tr>
                {% if report.status %}
                <td>{{report.opening_cash|floatformat:2|intcomma}}</td>
                {% else %}
                  <td><a href="{% url 'update_cashier_reporting' report.id %}">{{report.opening_cash|floatformat:2|intcomma}}</a></td>
                {% endif %}
                <td>{{report.additional_cash|floatformat:2|intcomma }}</td>
                <td>{{report.closing_balance|floatformat:2|intcomma }}</td>
<!--       
                <td>{{ report.euro|floatformat:2|intcomma }}</td>
                <td>{{ report.us_dollar|floatformat:2|intcomma }}</td>
                <td>{{ report.gbp_pound|floatformat:2|intcomma }}</td>
                <td>{{ report.cfa|floatformat:2|intcomma }}</td>
                <td>{{ report.swiss_krona|floatformat:2|intcomma }}</td>
                <td>{{ report.nor_krona|floatformat:2|intcomma }}</td>
                <td>{{ report.swiss_franck|floatformat:2|intcomma }}</td>
                <td>{{ report.denish_krona|floatformat:2|intcomma }}</td>
                <td>{{ report.cad_dollar|floatformat:2|intcomma }}</td> -->
                <td>{{ report.date|date:"F d, Y" }}</td>
                {% if report.status %}
                <td style="color: green">Approved</td>
                {% else %}
                    <td style="color: red">Pending</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if reports.has_previous %}
      <a class="btn btn-outline-info mb-4" href="{% url 'reports' %}?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="{% url 'reports' %}?page={{ reports.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in reports.paginator.page_range %}
      {% if reports.number == num %}
        <a class="btn btn-info mb-4" href="{% url 'reports' %}?page={{ num }}">{{ num }}</a>
      {% elif num > reports.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="{% url 'reports' %}?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if reports.has_next %}
      <a class="btn btn-outline-info mb-4" href="{% url 'reports' %}?page={{ reports.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="{% url 'reports' %}?page={{ reports.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock content %}
