{% extends "vault/admin/admin_layout.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-12 bg-dark">
    <h3 class="text-white text-center fw-bold"><i class="fas fa-users fa-2x mr-3"></i>Cashier Deposits</h3>
  </div>  
</div>
<form action="{% url 'cashier_deposit_actions' %}" method="post" novalidate id="itemForm">
  {% csrf_token %}
  <div class="row mt-1" style="border: 2px solid black; padding: 5px;">
    <div class="col-md-6">
      <select name="action" class="form-select" aria-label="Default select example">
        <option selected disabled>Actions</option>
        <option value="approve">Approve Selected Items</option>
        <option value="disapprove">Disapprove Selected Items</option>
      </select>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Go</button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="all_selector">
        <label class="form-check-label text-white fw-bold" for="flexCheckDefault">
          Check All
        </label>
      </div>
      <table class="table table-striped table-bordered table-dark table-responsive-lg table-hover" id="cashier_deposits">
            <thead class="thead-dark text-center">
              <tr>
                <th scope="col"></th>
                <th scope="col">Zone</th>
                <th scope="col">Branch</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for deposit in deposits %}
                  <tr>
                    <td>
                      {% if not deposit.approved and not deposit.disapproved %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{deposit.id}}" id="all_selector" name="selected_transactions">
                        </div>
                      {% endif %}
                    </td>
                    <td>{{ deposit.agent.profile.zone}}</td>
                    {% if deposit.approved or deposit.disapproved %}
                        <td>{{ deposit.agent.profile.branch }}</td>
                    {% else %}
                        <td><a href="{% url 'update_cashier_deposit' deposit.id %}" class="text-decoration-none fw-bold">{{ deposit.agent.profile.branch }}</a></td>
                    {% endif %}
                    <td>{{ deposit.amount|floatformat:2|intcomma }}</td>
                    <td>{{ deposit.deposit_type }}</td>
                    {% if deposit.approved %}
                      <td class="text-success fw-bold">Approved <i class="fa fa-check text-success"></i></td>
                    {% elif deposit.disapproved %}
                      <td class="text-danger fw-bold">Disapproved <i class="fa fa-close"></i></td>
                    {% else %}
                      <td class="text-warning fw-bold">Pending <i class="fa fa-ban"></i></td>
                    {% endif %}
                    <td>{{ deposit.date|date:"Y-m-d H:i:s" }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

</form>
{% endblock content %}