{% extends "vault/layout.html" %}
{% load humanize %}
{% block content %}
    <h3>Withdrawals</h3>
    <a class="btn btn-primary" href="{% url 'withdraw_cash' %}">Withdraw</a>
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for withdrawal in withdrawals %}
            <tr>
                <td>{{ withdrawal.amount|floatformat:2|intcomma }}</td>
                {% if withdrawal.status %}
                    <td style="color: green">Approved</td>
                {% else %}
                    <td style="color: red">Pending</td>
                {% endif %}
                <td class="table-size">{{ withdrawal.date|date:"F d, Y" }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if withdrawals.has_previous %}
      <a class="btn btn-outline-info mb-4" href="{% url 'my_withdrawals' %}?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="{% url 'my_withdrawals' %}?page={{ deposits.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in withdrawals.paginator.page_range %}
      {% if withdrawals.number == num %}
        <a class="btn btn-info mb-4" href="{% url 'my_withdrawals' %}?page={{ num }}">{{ num }}</a>
      {% elif num > withdrawals.number|add:'-3' and num < withdrawals.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="{% url 'my_withdrawals' %}?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if withdrawals.has_next %}
      <a class="btn btn-outline-info mb-4" href="{% url 'my_withdrawals' %}?page={{ withdrawals.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="{% url 'my_withdrawals' %}?page={{ withdrawals.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock content %}